body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $headers-font;
  font-weight: bold;
  letter-spacing: .2rem;
}

ul {
  padding: 0;
}

.list {
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  justify-content: space-between;
  width: 610px;
  padding: 0;
  // ul {
  //   padding: 0;
  // }
  li {
    list-style: none;
    font-family: $headers-font;
    font-weight: bold;
    display: inline;
    letter-spacing: .1rem;
  }
}

#home {
  // background-color: #D23333;
  // color: white;
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  margin: 0px 150px 0 150px;
  font-family: $body-font;
  h1 {
    font-size: 2.5em;
  }
}

.image {
  img {
    border: 5px solid;
  }
  p {
    font-style: italic;
    font-size: 25px;
  }
}

#footer {
  li {
  font-size: 0.75em;
  font-weight: lighter;
  list-style: none;
  font-family: $body-font;
  }
}
