body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $headers-font;
  font-weight: bold;
  letter-spacing: .2rem;
}

ul {
  padding: 0;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 610px;
  padding: 0;
  li {
    list-style: none;
    font-family: $headers-font;
    font-weight: bold;
    display: inline;
    letter-spacing: .1rem;
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  margin: 0px 150px 0 150px;
  font-family: $body-font;
  h1 {
    font-size: 2.5em;
  }
}

.image {
  img {
    border: 5px solid;
  }
  p {
    font-style: italic;
    font-size: 25px;
  }
}

#footer {
  li {
  font-size: 0.75em;
  font-weight: lighter;
  list-style: none;
  font-family: $body-font;
  }
}

// responsivness

@media (max-width: 700px) {
  #home {
    margin: 0;
  }
  .list {
    width: 410px;
    li {
      font-size: 12px;
    }
  }
  img {
    width: 400px;
  }
}

@media (max-width: 450px) {
  #home {
    margin: 0;
    h1 {
    font-size: 1.5em;
    }
  }
  .list {
    width: 310px;
    li {
      font-size: 10px;
      letter-spacing: 0;
    }
  }
  .image {
    p {
      font-style: italic;
      font-size: 16px;
    }
    img {
      width: 300px;
    }
  }
  #footer li {
    font-size: 0.5em;
  }
}
