---
title: ARTMARKET.LEGAL
---

<div style="background-image: url('<%= image_path "image-galerie.jpg" %>')" class= "image-logo">
</div>
<div id="home">
  <div class="title">
    <h1>ARTMARKET.LEGAL</h1>
  </div>
  <div class="home-content">
    <ul>
      <li><i class="far fa-arrow-alt-circle-right"></i> ARTIST’S GUIDE AND RIGHTS MANAGEMENT</li>
      <li><i class="far fa-arrow-alt-circle-right"></i> DUE DILIGENCE</li>
      <li><i class="far fa-arrow-alt-circle-right"></i> MEDIATION</li>
      <li><i class="far fa-arrow-alt-circle-right"></i> AUCTION SALES</li>
      <li><i class="far fa-arrow-alt-circle-right"></i> SPONSORING</li>
    </ul>
  </div>
  <div id="footer">
    <ul>
      <li>Mentions légales</li>
      <li>ARTMARKET.LEGAL Sociétés par actions simplifiées ayant son siège social au 44 rue La Boétie 75008 Paris</li>
      <li>contact@artmarket.legal</li>
      <li>copyright ARTMARKET.LEGAL 2019</li>
    </ul>
  </div>
</div>
