---
title: ARTMARKET.LEGAL
---

<div id="home">
  <div class="title">
    <h1>ARTMARKET.LEGAL</h1>
  </div>
  <ul class="list">
    <li>ARTIST’S GUIDE</li>
    <li>DUE DILIGENCE</li>
    <li>MEDIATION</li>
    <li>SPONSORING</li>
  </ul>
  <div class="image">
    <%= image_tag "images/image-galerie-2.jpg", width: "600" %>
    <p>Coming soon</p>
  </div>

  <ul id="footer">
    <li>Mentions légales</li>
    <li>S.A.S. ARTMARKET.LEGAL
    <li>contact@artmarket.legal</li>
    <li>Copyright ©ARTMARKET.LEGAL 2019</li>
  </ul>

</div>
